body{
  background: #FDF6CA;
  margin: 0;
  width: 100%;
  height: 100vh
}
nav{
  background: #eda8bd;
  width: 1480px;
  height: 50px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 2800px;
  border-left: 24px;
  border-right: 16px;
  font-size: 20px;
  text-align: center;
  padding-top: 0px;
  align-items: center;
  align-items: flex-end;
  justify-content: space-evenly;
}
footer nav{
  padding-bottom: 0px;
}
nav a{
  text-decoration: none;
  color: black;
  font-family: "bruna", sans-serif;
  font-weight: 800;
  font-style: normal;
}

h1{
  text-align: center;
  font-family: "blackcurrant", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  text-decoration: underline;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
}

#location{
    text-align: center;
    font-size: 15px;
    padding-bottom: 5px;
    font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
}

p{
  font-size: 20px;
  font-family: "bruna", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-left: 5%;
}

section{
  display: flex;
}