body{
  background: #FDF6CA;
  margin: 0;
} 

nav{
  background: #fdea87;
  width: 1480px;
  height: 50px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 2800px;
  border-left: 24px;
  border-right: 16px;
  font-size: 20px;
  text-align:center;
  padding-top: 0px;
  align-items: center;
  align-items: flex-end;
  justify-content: space-evenly;
}

nav a{
  text-decoration: none;
  color: black;
  font-family: "bruna", sans-serif;
  font-weight: 800;
  font-style: normal;
}

h1{
  text-align: center;
  font-family: "blackcurrant", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  text-decoration: underline;
  margin-top: 30px; 
  margin-bottom: 20px; 
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 30%;
    height: 30%;
    padding-bottom: 20px;
    padding-left: 5px;
}

p{
  font-size: 20px;
  font-family: "bruna", sans-serif;
  font-weight: 500;
  font-style: normal; ;
  margin-left: 5%;
  overflow: clip;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto; 
  max-width: 800px;
}

section{
  display: flex;
}