body{
    background: #ee7384;
    margin: 0;
    width: 100%;
    height: 100vh
}

nav{
  background: #fdea87;
  width: 1464px;
  height: 50px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 2800px;
  border-left: 24px;
  border-right: 16px;
  font-size: 25px;
  padding-top: 0px;
  align-items: center;
  align-items: flex-end;
  justify-content: center;
  justify-content:space-evenly;
  height: 60px; 
  display: flex;
  }
  h2{
    text-align: center;
      font-family: "blackcurrant", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 30px; 
      padding-top: 10px;
  }
  
  nav a{
    text-decoration: none;
    color: black;
    font-family: "bruna", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  h1{
    text-align: center;
    font-family: "blackcurrant", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    text-decoration: underline;
    margin-top: 30px; 
    margin-bottom: 20px; 
  }

img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 5px;

}

p{
  font-size: 20px;
  font-family: "bruna", sans-serif;
  font-weight: 500;
  font-style: normal; ;
  margin-left: 5%;
  overflow: clip;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto; 
  max-width: 800px;
}

 #kdogz{
  display: flex;
  flex-direction:row;
  width: 100%;
  height: 550px;
  flex-shrink: 0; 
  background-color: #f6ecc8;
  border-radius: 20px;
  text-decoration: none;
  margin-bottom: 50px;
 }

 #kdogz img{
  width: 380px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
 }

 #kdogz p{
  padding-left: 50px;
  font-size: 20px;
  padding-top: 10px;
 }

 #kdogz h2{
  text-align: center;
    font-size: 35px;
    padding-right: 5%;
 }

 #foodpics{
  display: flex;
  flex-direction:row;
  width: 75%;
  height: 550px;
  margin-left: 10%;
  flex-shrink: 0; 
  background-color: #f3aad3;
  border-radius: 20px;
  text-decoration: none;
  margin-bottom: 50px;
 }

 #foodpics img{
  width: 500px;
  padding-left: 35px;
  
 }

 #foodpics h2 {
  text-align: center;
  font-size: 35px;
  padding-right: 5%;
  margin-bottom: 10px;
 }

 #title{
  margin-top: 15%;
 }
 .carousel-container {
  position: relative;
  display: flex;
  overflow: hidden; 
  width: 500px; 
  max-width: 100%; 
  margin: 0 auto; 
  margin-right: 20px;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease; /* Smooth transition for sliding */
}

.carousel-image {
  width: 500px; /* Adjust to the width of one image */
  flex: 0 0 auto;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  font-size: 24px; 
}
.left-arrow {
  left: 30px;
  color: lightcoral;
}

.right-arrow {
  right: 30px;
  color: lightcoral;
}

